<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.git.GitSCM_-DescriptorImpl plugin="git@1.1.26">
  <generation>1</generation>
  <globalConfigName>watt-ci</globalConfigName>
  <globalConfigEmail>ci@watt.org</globalConfigEmail>
  <createAccountBasedOnEmail>false</createAccountBasedOnEmail>
</hudson.plugins.git.GitSCM_-DescriptorImpl>