[submodule "modules/jenkins"]
	path = modules/jenkins
	url = git://github.com/rtyler/puppet-jenkins.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/gradle"]
	path = modules/gradle
	url = https://github.com/mwatt/puppet-gradle.git
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/smarchive/puppet-archive.git
